<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">

    <title>THREE-TIER APPLICATION USING DOCKER</title>
    <link href="styles.css" rel="stylesheet">

    <script defer src="main.js"></script>
</head>

<body>
    <div style="margin:40px">
        <h1>THREE-TIER APPLICATION USING DOCKER</h1>
        <h2>Vatsal Gabani</h2>
        <p>This is a documentation for developing a three-tier application using docker.</p>
        <p>The project is divided into 3 parts as follows : FrontEnd, Backend, Database.</p>
        <hr>
        <h1>Navigation</h1>
        <ul>
            <li><a href="#section1">DATABASE </a></li>
            <li><a href="#section2">BACKEND </a></li>
            <li><a href="#section3">FRONTEND </a></li>
        </ul>

        <h1 id="section1">DATABASE TIER</h1>
        <h1>Step 1: Create dockerfile for MongoDB</h1>
        <img src="https://vatsalgabani64.github.io/three-tier-docker-app/images/0.png" alt="">
        <h1>Step 2: Create Network</h1>
        <p><b>List available networks : </b>docker network ls <br><b>Create a Docker network : </b>docker network create ia2</p>
        <img src="https://vatsalgabani64.github.io/three-tier-docker-app/images/1.png" alt="">

        <h1>Step 3: Connecting MongoDB Container to Network</h1>
        <p><b>Build Docker image for MongoDB :</b> docker build -t 21bcp113-mongodb ./mongodb</p>
        <img src="https://vatsalgabani64.github.io/three-tier-docker-app/images/2.png" alt="">
        <p><b>Run MongoDB container :</b> docker run -d --name 21bcp113-mongodb-container --network ia2 21bcp113-mongodb</p>
        <img src="https://vatsalgabani64.github.io/three-tier-docker-app/images/3.png" alt="">
        
        <h1 id="section2">BACKEND TIER</h1>
        <h1>Step 4: Create dockerfile for Backend</h1>
        <img src="https://vatsalgabani64.github.io/three-tier-docker-app/images/9.png" alt="">

        <h1>Step 5: Building and Running Node.js Backend Container</h1>
        <p><b>Build Docker image for NodeJS backend : </b>docker build -t 21bcp113-backend ./backend</p>
        <img src="https://vatsalgabani64.github.io/three-tier-docker-app/images/4.png" alt="">
        <p><b>Run NodeJS backend container : </b>docker run -d --name 21bcp113-backend-container --network ia2 21bcp113-backend</p>
        <img src="https://vatsalgabani64.github.io/three-tier-docker-app/images/5.png" alt="">

        <h1 id="section3">FRONTEND TIER</h1>
        <h1>Step 6: Create dockerfile for Frontend</h1>
        <img src="https://vatsalgabani64.github.io/three-tier-docker-app/images/10.png" alt="">

        <h1>Step 7: Building and Running React Frontend Container</h1>
        <p><b>Build Docker image for Frontend : </b>docker build -t 21bcp113-frontend ./frontend</p>
        <img src="https://vatsalgabani64.github.io/three-tier-docker-app/images/6.png" alt="">
        <p><b>Run frontend container : </b>docker run -d --name 21bcp113-frontend-container --network ia2 21bcp113-frontend</p>
        <img src="https://vatsalgabani64.github.io/three-tier-docker-app/images/7.png" alt="">

        <h1>Step 8: Look for containers at Docker Desktop</h1>
        <img src="https://vatsalgabani64.github.io/three-tier-docker-app/images/8.png" alt="">
        

    </div>
</body>

</html>